* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.w {
    margin: 0 auto;
    width: 1200px;
}

.header {
    height: 100px;
}

.banner {
    height: 420px;
    background-color: #1c036c;

}

.logo {
    height: 100px;
    width: 200px;
    float: left;
    background-image: url(images/学成在线.png);
    background-repeat: no-repeat;
    background-position: center;
}

.guide {
    width: 410px;
    height: inherit;
    /* background-color: aqua; */
    float: left;
    text-align: center;
}

a {
    text-decoration: none;
}

.guide1:hover {
    text-decoration-line: underline;
}

.box1 {
    height: 40px;
    width: 55px;
    /* background-color: black; */
    float: left;
    margin-top: 30px;
    margin-left: 70px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.box2 {
    height: 40px;
    width: 55px;
    /* background-color: black; */
    margin-top: 30px;
    margin-left: 22px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.box3 {
    height: 40px;
    width: 95px;
    /* background-color: black; */
    margin-top: 30px;
    margin-left: 22px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.box1:hover {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #00a4ff;
}

.box2:hover {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #00a4ff;
}

.box3:hover {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #00a4ff;
}

.search {
    width: 402px;
    height: 100px;
    float: left;
}

.int {
    /* border: 3px; */
    border-radius: 0;
    width: 360px;
    height: 39px;
    border: 1px solid #00a4ff;
    border-right: 0;
    margin-top: 30px;
    font-size: 14px;
    color: #bfbfbf;
    float: left;
}

.button {
    margin-top: 30px;
    width: 40px;
    height: 40px;
    border: 1px solid #00a4ff;
    float: left;
    background-color: #00a4ff;
}

.user {
    height: 100px;
    width: 184px;
    float: left;
    /* background-color: aquamarine; */
}

.userhead {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-top: 36px;
    background-image: url(images/头像.png);
    background-repeat: no-repeat;
    float: left;
}

.username {
    height: 20px;
    width: 80px;
    float: left;
    margin-left: 5px;
    margin-top: 40px;
    color: #a7a8a9;
}



.leftbox {
    float: left;
    width: 190px;
    height: 420px;
    background-color: #14034b;
}

.middlebox {
    width: 1200px;
    height: 420px;
    background-color: antiquewhite;
    background-image: url(images/banner2.png);
    background-repeat: no-repeat;
    background-position: left;
}

.rightbox {
    width: 230px;
    height: 300px;
    margin-top: 50px;
    float: right;
}

.liebiao {
    list-style: none;
    margin-top: 13px;
}

.list {
    height: 45px;
    width: 150px;
    color: #bab8c4;
    margin-left: 20px;
    background-image: url(images/小箭头.png);
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 45px;
}

.list:hover {
    border: 1px solid #e7f3fa;
    border-left: 0;
    border-right: 0;
}

.upbox {
    height: 50px;
    background-color: #9bceea;
    text-align: center;
    line-height: 50px;
    color: #e7f3fa;
    font-size: 18px;
    font-weight: 700;
}

.downbox {
    height: 250px;
    background-color: #ffffff;
}

.liebiao2 {
    list-style: none;
    width: 230px;
    height: 240px;
    /* margin-top: 10px; */
}

.list2 {
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
    /* line-height: 30px; */
    border-bottom: 1px solid #eaeaea;
    padding-top: 15px;
    /* padding-bottom: 15px; */
}

.button2 {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #00a4ff;
    margin-left: 15px;
}

.guide2box {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .3);
}

.guide2left {
    width: 900px;
    height: inherit;
    float: left;
    /* background-color: pink; */
}

.guide2right {
    float: left;
    width: 275px;
    height: inherit;
    margin-right: 25px;
    line-height: 60px;
    text-align: right;
}

.guide2right:hover {
    color: #9bceea
}


.liebiao3 {
    list-style: none;
    margin-right: 20px;
}

.list3 {
    float: left;
    width: 120px;
    height: 20px;
    margin-top: 20px;
    border-right: 2px solid #bfbfbf;
    text-align: center;
    line-height: 20px;
}

.list3:hover {
    color: #00a4ff;
}

.littlebox {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    margin-top: 17px;
    /* background-color: #14034b; */
}


.textleft {
    float: left;
    width: 200px;
    height: inherit;
    font-size: 20px;
    line-height: 60px;
    color: #494949;
    text-align: left;
}

.textright {
    float: left;
    width: 1000px;
    height: 12px;
    font-size: 12px;
    margin-top: 25px;
    line-height: 12px;
    color: #494949;
    text-align: right;
}

.classbox {
    width: 1200px;
    margin: 0 auto;
    height: 560px;
    /* background-color: #9bceea; */
}

.class1 {
    float: left;
    width: 228px;
    height: 270px;
    /* background-color: #e7f3fa; */
    margin-left: 12.5px;
    border: 1px solid #e7f3fa;
}

.class2 {
    margin-top: 15px;
    float: left;
    width: 228px;
    height: 270px;
    /* background-color: #e7f3fa; */
    margin-left: 12.5px;
    border: 1px solid #e7f3fa;
}

.class1:hover {
    box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, .3);
}

.class2:hover {
    box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, .3);
}

.classtop1 {
    height: 155px;
    width: 230px;
    float: left;
    background-image: url(images/1.png);
}

.classtop2 {
    height: 155px;
    width: 230px;
    float: left;
    background-image: url(images/2.png);
}

.classtop3 {
    height: 155px;
    width: 230px;
    float: left;
    background-image: url(images/3.png);
}

.classtop4 {
    height: 155px;
    width: 230px;
    float: left;
    background-image: url(images/4.png);
}

.classdown1 {
    height: 50px;
    width: 185px;
    float: left;
    /* text-align: center; */
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 25px;
}

.classdown2 {
    width: 185px;
    margin-left: 25px;
    float: left;
}

.classbox2 {
    width: 1200px;
    height: 475px;
    /* background-color: #14034b; */
}

.guide3box {
    height: 80px;
    width: inherit;
    float: left;
    /* background-color: #a7a8a9; */
}

.guide3left {
    float: left;
    width: 362px;
    height: 43px;
    margin-top: 37px;
}

.guide3middle {
    float: left;
    width: 368px;
    height: 37px;
    margin-top: 43px;
    margin-left: 70px;
}

.guide3right {
    float: left;
    width: 400px;
    height: 36px;
    margin-top: 44px;
    font-size: 12px;
    color: #e0e1e3;
    text-align: right;
}

.classleft {
    float: left;
    overflow: hidden;
    width: 230px;
    height: 400px;
    background-image: url(images/classbox2left.png);
    background-repeat: no-repeat;
}

.classrightup {
    width: 960px;
    height: 100px;
    background-image: url(images/classrightup.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
}

.classrightdown {
    width: 960px;
    height: 270px;
    margin-top: 30px;
    float: left;
}

.list4 {
    float: left;
    width: 228px;
    height: 270px;
    margin-left: 13px;
    /* background-color: #9bceea; */
    border: 1px solid #e0e1e3;
}

.list4:hover {
    box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, .3);
}

.classtop5 {
    height: 155px;
    width: 230px;
    float: left;
    background-image: url(images/5.png);
}

.classtop6 {
    height: 155px;
    width: 230px;
    float: left;
    background-image: url(images/6.png);
}

.classtop7 {
    height: 155px;
    width: 230px;
    float: left;
    background-image: url(images/7.png);
}

.classtop8 {
    height: 155px;
    width: 230px;
    float: left;
    background-image: url(images/8.png);
}

.classbox3 {
    width: 1210px;
    height: 350px;
    margin: 0 auto;
}

.footer {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    /* background-color: pink; */
}

.logo2 {
    height: 100px;
    width: 200px;

    font-size: 12px;
    color: #666666;
    background-image: url(images/学成在线.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footertext {
    font-size: 12px;
    color: #666666;
}

.button3 {
    width: 120px;
    height: 35px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    margin-top: 15px;
}

.footerright1 {
    margin-right: 30px;
    float: right;
    font-size: 16px;
}

.footerright2 {
    margin-right: 120px;
    float: right;
    font-size: 16px;
}

.footerrighttext {
    font-size: 12px;
    color: #333333;
}